.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#find-recipe {
  text-align: center;
}

#form-input {
  padding: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search-bar {
  position: absolute;
  display:inline-block;
  z-index: 9999;
  margin-top: 200px;
  flex-shrink: 2;
}

@media (max-width:768px) {
  #search-bar {
    height: 50%;
    margin-top: 100px;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
  }
}

@media (max-width:468px) {
  #search-bar {
    height: 50%;
    margin-top: 10px;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    flex-shrink: 2;
  }
}
