@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans&display=swap');

#recipe-page{
    font-family: 'Balsamiq Sans', cursive;
}

#recipe-header{
    font-family: 'Balsamiq Sans', cursive;
}

#ingredients{
    font-family: 'Balsamiq Sans', cursive;
}

#method{
    font-family: 'Balsamiq Sans', cursive;
}